<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Display Example</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</head>
<body>
    <h1>Monitoring in Google Cloud</h1>
    <a href="https://www.cloudskillsboost.google/course_templates/747/labs/461644" class="sky-blue-link"><h2>Cloud Monitoring: Qwik Start </h2></a>

    <div class="code-example">
        <p>Execute 1: Enter the value of zone displayed on the lab page, after clicking on start, For example: ZONE=us-central1-a</p>
        <div class="code-block">
            <button class="copy-button">Copy code</button>
            <pre><code>
ZONE=    #write zone from the code
            </code></pre>
        </div>
    </div>


    <div class="code-example">
        <p>Execute2: Copy Paste this code in the terminal</p>
        <div class="code-block">
            <button class="copy-button">Copy code</button>
            <pre><code>


            </code></pre>
        </div>
    </div>


</body>
</html>
