<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Display Example</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</head>
<body>
    <h1>Cloud Speech API: 3 Ways</h1>
    <a href="https://www.cloudskillsboost.google/course_templates/700/labs/461581"><h2>Translate Text with the Cloud Translation API </h2></a>
    <div class="code-example">
        <p>To display blocks of code, you can combine <code>&lt;code&gt;</code> with the <code>&lt;pre&gt;</code> tag, which preserves whitespace and line breaks:</p>
        <div class="code-block">
            <button class="copy-button">Copy code</button>
            <pre><code>
export REGION= #WRITE REGION
            </code></pre>
        </div>
    </div>

    <div class="code-example">
        <p>To display blocks of code, you can combine <code>&lt;code&gt;</code> with the <code>&lt;pre&gt;</code> tag, which preserves whitespace and line breaks:</p>
        <div class="code-block">
            <button class="copy-button">Copy code</button>
            <pre><code>
curl -LO raw.githubusercontent.com/QUICK-GCP-LAB/2-Minutes-Labs-Solutions/main/Translate%20Text%20with%20the%20Cloud%20Translation%20API/gsp049.sh

sudo chmod +x gsp049.sh

./gsp049.sh
            </code></pre>
        </div>
    </div>
</body>
</html>
