<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Display Example</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</head>
<body>

    <h1>Get Started with API Gateway</h1>
    <a href="https://www.cloudskillsboost.google/course_templates/662/labs/461585"><h2>Pub/Sub: Qwik Start - Console </h2> </a>
    <div class="code-example">
       <div class="code-block">
        <p>Execute this code</p>
            <button class="copy-button">Copy code</button>
            <pre><code>
gcloud pubsub topics create myTopic
gcloud  pubsub subscriptions create --topic myTopic mySub
            </code></pre>
        </div>
    </div>

</body>
</html>
