<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Display Example</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</head>
<body>
    <h1>Get Started with API Gateway</h1>
<a href="https://www.cloudskillsboost.google/course_templates/662/labs/461587"><h2>Getting Started with API Gateway: Challenge Lab</h2> </a>
    <div class="code-example">
        <div class="code-block">
            <button class="copy-button">Copy code</button>
            <pre><code>
export REGION=
            </code></pre>
        </div>
    </div>

    <div class="code-example">
        <p>Execute this code</p>
        <div class="code-block">
            <button class="copy-button">Copy code</button>
            <pre><code>
curl -LO raw.githubusercontent.com/QUICK-GCP-LAB/2-Minutes-Labs-Solutions/main/Getting%20Started%20with%20API%20Gateway%20Challenge%20Lab/arc109.sh

sudo chmod +x arc109.sh

./arc109.sh
            </code></pre>
        </div>
    </div>
</body>
</html>
