<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Display Example</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</head>
<body>
    <div class="code-example">
        <p>Here is some inline code: <code>let x = 5;</code></p>
    </div>

    <div class="code-example">
        <p>To display blocks of code, you can combine <code>&lt;code&gt;</code> with the <code>&lt;pre&gt;</code> tag, which preserves whitespace and line breaks:</p>
        <div class="code-block">
            <button class="copy-button">Copy code</button>
            <pre><code>
curl -LO raw.githubusercontent.com/QUICK-GCP-LAB/2-Minutes-Labs-Solutions/main/Get%20Started%20with%20PubSub%20Challenge%20Lab/form_1.sh

sudo chmod +x form_1.sh

./form_1.sh
            </code></pre>
        </div>
    </div>

    <!-- Image Section with Placeholder -->
    <div class="image-section">
        <h2>Image Placeholder</h2>
        <div class="image-placeholder">
            <img id="dynamic-image" src="https://letsenhance.io/static/73136da51c245e80edc6ccfe44888a99/6e61b/MainBefore.avif" alt="Image Placeholder">
        </div>
    </div>

    <div class="code-example">
        <p>To display blocks of code, you can combine <code>&lt;code&gt;</code> with the <code>&lt;pre&gt;</code> tag, which preserves whitespace and line breaks:</p>
        <div class="code-block">
            <button class="copy-button">Copy code</button>
            <pre><code>
export LOCATION=
            </code></pre>
        </div>
    </div>

    <div class="code-example">
        <p>To display blocks of code, you can combine <code>&lt;code&gt;</code> with the <code>&lt;pre&gt;</code> tag, which preserves whitespace and line breaks:</p>
        <div class="code-block">
            <button class="copy-button">Copy code</button>
            <pre><code>
curl -LO raw.githubusercontent.com/QUICK-GCP-LAB/2-Minutes-Labs-Solutions/main/Get%20Started%20with%20PubSub%20Challenge%20Lab/form_2.sh

sudo chmod +x form_2.sh

./form_2.sh

            </code></pre>
        </div>
    </div>

    <div class="code-example">
        <p>To display blocks of code, you can combine <code>&lt;code&gt;</code> with the <code>&lt;pre&gt;</code> tag, which preserves whitespace and line breaks:</p>
        <div class="code-block">
            <button class="copy-button">Copy code</button>
            <pre><code>
curl -LO raw.githubusercontent.com/QUICK-GCP-LAB/2-Minutes-Labs-Solutions/main/Get%20Started%20with%20PubSub%20Challenge%20Lab/form_3.sh

sudo chmod +x form_3.sh

./form_3.sh
            </code></pre>
        </div>
    </div>

</body>
</html>
