<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Display Example</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</head>
<body>
    <h1>Get Started with Dataplex</h1>
<a href="https://www.cloudskillsboost.google/course_templates/726/labs/461569"><h2>Dataplex: Qwik Start - Command Line</h2> </a>

    <div class="code-example">
        <div class="code-block">
            <button class="copy-button">Copy code</button>
            <pre><code>
export REGION=
            </code></pre>
        </div>
    </div>

    <div class="code-example">
        <p>Execute this code</p>
        <div class="code-block">
            <button class="copy-button">Copy code</button>
            <pre><code>
gcloud auth list
gcloud config list project
gcloud services enable \
  dataplex.googleapis.com 
export PROJECT_ID=$(gcloud config get-value project)
gcloud config set compute/region $REGION
gcloud dataplex lakes create ecommerce \
   --location=$REGION \
   --display-name="Ecommerce" \
   --description="Ecommerce Domain"
gcloud dataplex zones create orders-curated-zone \
    --location=$REGION \
    --lake=ecommerce \
    --display-name="Orders Curated Zone" \
    --resource-location-type=SINGLE_REGION \
    --type=CURATED \
    --discovery-enabled \
    --discovery-schedule="0 * * * *"
bq mk --location=$REGION --dataset orders 
gcloud dataplex assets create orders-curated-dataset \
--location=$REGION \
--lake=ecommerce \
--zone=orders-curated-zone \
--display-name="Orders Curated Dataset" \
--resource-type=BIGQUERY_DATASET \
--resource-name=projects/$PROJECT_ID/datasets/orders \
--discovery-enabled 

##check the progress then execute further

gcloud dataplex assets delete orders-curated-dataset --location=$REGION --zone=orders-curated-zone --lake=ecommerce 
gcloud dataplex zones delete orders-curated-zone --location=$REGION --lake=ecommerce
gcloud dataplex lakes delete ecommerce --location=$REGION
            </code></pre>
        </div>
    </div>
</body>
</html>
