<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Display Example</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</head>
<body>
    <h1>Get Started with Dataplex</h1>
<a href="https://www.cloudskillsboost.google/course_templates/726/labs/461570"><h2>Tagging Dataplex Assets</h2> </a>

    <div class="code-example">
        <div class="code-block">
            <button class="copy-button">Copy code</button>
            <pre><code>
export REGION=
            </code></pre>
        </div>
    </div>

    <div class="code-example">
        <p>Execute this code</p>
        <div class="code-block">
            <button class="copy-button">Copy code</button>
            <pre><code>
curl -LO raw.githubusercontent.com/QUICK-GCP-LAB/2-Minutes-Labs-Solutions/main/Tagging%20Dataplex%20Assets/gsp1145.sh

sudo chmod +x gsp1145.sh

./gsp1145.sh


echo "do last task by yourself"
            </code></pre>
        </div>
    </div>
</body>
</html>
