<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Display Example</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</head>
<body>
    <h1>Get Started with Dataplex</h1>
<a href="https://www.cloudskillsboost.google/course_templates/726/labs/461571"><h2>Get Started with Dataplex: Challenge Lab</h2> </a>

    
    <div class="code-example">
        <div class="code-block">
            <button class="copy-button">Copy code</button>
            <pre><code>
export LOCATION= #WRITE REGION
            </code></pre>
        </div>
    </div>

    <div class="code-example">
        <p>Execute This code</p>
        <div class="code-block">
            <button class="copy-button">Copy code</button>
            <pre><code>
curl -LO raw.githubusercontent.com/QUICK-GCP-LAB/2-Minutes-Labs-Solutions/main/Get%20Started%20with%20Dataplex%20Challenge%20Lab/arc117.sh

sudo chmod +x arc117.sh

./arc117.sh

echo "https://console.cloud.google.com/dataplex/templates/create"
            </code></pre>
        </div>
    </div>
</body>
</html>
