<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Display Example</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</head>
<body>
  <h1>Cloud Functions: 3 Ways</h1>
  <a href="https://www.cloudskillsboost.google/course_templates/696/labs/461617"><h2> Cloud Run Functions: Qwik Start - Command Line </h2> </a>
  
      
      <div class="code-example">
          <div class="code-block">
              <button class="copy-button">Copy code</button>
              <pre><code>
  export REGION=
              </code></pre>
          </div>
      </div>
  
      <div class="code-example">
         <p>Execute this code</p>
         <div class="code-block">
            <button class="copy-button">Copy code</button>
            <pre><code>
# Step 1: Authenticate and set project
gcloud auth list
gcloud config list project
export PROJECT_ID=$(gcloud config get-value project)
gcloud config set run/region $REGION
mkdir gcf_hello_world && cd gcf_hello_world

# Step 5: Create and edit the index.js file
cat &LT;&lt; 'EOF' &gt; index.js
const functions = require('@google-cloud/functions-framework');

// Register a CloudEvent callback with the Functions Framework that will
// be executed when the Pub/Sub trigger topic receives a message.
functions.cloudEvent('helloPubSub', cloudEvent => {
  // The Pub/Sub message is passed as the CloudEvent's data payload.
  const base64name = cloudEvent.data.message.data;

  const name = base64name
    ? Buffer.from(base64name, 'base64').toString()
    : 'World';

  console.log(`Hello, ${name}!`);
});
EOF

# Step 6: Create and edit the package.json file
cat &lt;&lt; 'EOF' &gt; package.json
{
  "name": "gcf_hello_world",
  "version": "1.0.0",
  "main": "index.js",
  "scripts": {
    "start": "node index.js",
    "test": "echo \"Error: no test specified\" && exit 1"
  },
  "dependencies": {
    "@google-cloud/functions-framework": "^3.0.0"
  }
}
EOF

# Step 7: Install the dependencies
npm install

# Step 8: Deploy the Cloud Function
gcloud functions deploy nodejs-pubsub-function \
  --gen2 \
  --runtime=nodejs20 \
  --region=$REGION \
  --source=. \
  --entry-point=helloPubSub \
  --trigger-topic cf-demo \
  --stage-bucket $PROJECT_ID-bucket \
  --service-account cloudfunctionsa@$PROJECT_ID.iam.gserviceaccount.com \
  --allow-unauthenticated

# Step 9: Describe the Cloud Function
gcloud functions describe nodejs-pubsub-function \
  --region=$REGION 


            </code></pre>
        </div>
    </div>
</body>
</html>
