<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Display Example</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</head>
<body>
    <h1>Cloud Functions: 3 Ways</h1>
    <a href="https://www.cloudskillsboost.google/course_templates/696/labs/461619"><h2>Cloud Functions: 3 Ways: Challenge Lab  </h2> </a>
    <div class="code-example">
        <div class="code-block">
            <button class="copy-button">Copy code</button>
            <pre><code>
export HTTP_FUNCTION=
export FUNCTION_NAME=
export REGION=
            </code></pre>
        </div>
    </div>

    <!-- Image Section with Placeholder -->
    <div class="image-section">
        <h2>Image Placeholder</h2>
        <div class="image-placeholder">
            <img id="dynamic-image" src="https://letsenhance.io/static/73136da51c245e80edc6ccfe44888a99/6e61b/MainBefore.avif" alt="Image Placeholder">
        </div>
    </div>

    <div class="code-example">
        <p>Execute this code</p>
        <div class="code-block">
            <button class="copy-button">Copy code</button>
            <pre><code>
curl -LO raw.githubusercontent.com/QUICK-GCP-LAB/2-Minutes-Labs-Solutions/main/Cloud%20Functions%203%20Ways%20Challenge%20Lab/arc104.sh

sudo chmod +x arc104.sh

./arc104.sh
            </code></pre>
        </div>
    </div>

</body>
</html>
