<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Display Example</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</head>
<body>
    <h1>App Engine: 3 Ways</h1>
    <a href="https://www.cloudskillsboost.google/course_templates/671/labs/461535"><h2>App Engine: 3 Ways: Challenge Lab</h2></a>
    <div class="code-example">
        <p>To display blocks of code, you can combine <code>&lt;code&gt;</code> with the <code>&lt;pre&gt;</code> tag, which preserves whitespace and line breaks:</p>
        <div class="code-block">
            <button class="copy-button">Copy code</button>
            <pre><code>
export REGION= #WRITE REGION
            </code></pre>
        </div>
    </div>

    <div class="code-example">
        <p>To display blocks of code, you can combine <code>&lt;code&gt;</code> with the <code>&lt;pre&gt;</code> tag, which preserves whitespace and line breaks:</p>
        <div class="code-block">
            <button class="copy-button">Copy code</button>
            <pre><code>
export MESSAGE="Hello, Cruel World!"

curl -LO raw.githubusercontent.com/QUICK-GCP-LAB/2-Minutes-Labs-Solutions/main/App%20Engine%203%20Ways%20Challenge%20Lab/arc112.sh

sudo chmod +x arc112.sh

./arc112.sh
            </code></pre>
        </div>
    </div>
</body>
</html>
